<div class="container">
<h2>Results for <%= @event.name%></h2>


<div id="resultsChart">
  <div v-for="program in eventInfo.programs">
    <h3>{{ program["prog_name"] }}: {{ program["prog_date"] }} </h3>
    <div class="row">
      <div class="col-md-12">
        <canvas :id="program['prog_name']" count="6"></canvas>
         <chartjs-bar :target="program['prog_name']" :data="swimResults(program)" :datalabel="dataLabels[0]" backgroundcolor="rgba(75,0,192,0.1)"></chartjs-bar>
         <chartjs-bar :target="program['prog_name']" :data="t1Results(program)" :datalabel="dataLabels[1]"></chartjs-bar>
         <chartjs-bar :target="program['prog_name']" :data="bikeResults(program)" :datalabel="dataLabels[2]" backgroundcolor="#333333"></chartjs-bar>
         <chartjs-bar :target="program['prog_name']" :data="t2Results(program)" :datalabel="dataLabels[3]"></chartjs-bar>
         <chartjs-bar :target="program['prog_name']" :data="runResults(program)" :datalabel="dataLabels[4]" backgroundcolor="#bbdefb"></chartjs-bar>
         <chartjs-bar :target="program['prog_name']" :data="finalResults(program)" :datalabel="dataLabels[5]" :labels="athletes(program)"></chartjs-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-md-">&nbsp;</div>
      <div v-for="individual in program.results" class="col-md-2">
          <h4>{{ individual["athlete_title"] }}</h4>
          <h5>Place: {{ individual["position"] }}</h5>
          <h5>Time: {{ individual["total_time"] }}</h5>
          <ul>
            <li>Swim: {{ individual["splits"][0] }} <br>
            <li>T1: {{ individual["splits"][1] }} <br>
            <li>Bike: {{ individual["splits"][2] }}</li>
            <li>T2: {{ individual["splits"][3] }}</li>
            <li>Run: {{ individual["splits"][4] }}</li>
          </ul>      
          <p></p>
        
      </div><!-- end v-for individual in program -->
      <div class="col-md-1">&nbsp;</div>
    </div>

  </div><!-- v-for program in programs-->
</div>

</div>


<script>
var params = { "id": "<%= params[:id] %>"};
</script>