<div id="app"><!-- Vue App opening Div -->

  <!-- MAP SECTION -->
  <section class="clearfix p0">
    <div id="map-canvas"></div>
  </section>

  <!-- CATEGORY LIST SECTION -->
  <section class="clerfix">
    <div class="container">
      <h1>Events</h1>
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="resultBar barSpaceAdjust">
            <h2>We found <span>{{ validEvents.length }}</span> Results for you</h2>
          </div>
          <!-- START V-FOR LOOP -->        
            <div v-for="event in modifiedEvents" v-if="isValidEvent(event)">
              <div class="listContent">
                <div class="row">
                  <div class="col-sm-5 col-xs-12">
                    <div class="categoryImage">
                      <img v-bind:src="event.thumbnail" alt="Image category" class="img-responsive img-rounded">
                    </div>
                  </div>  
                  <div class="col-sm-7 col-xs-12">
                  <!-- STARS -->
                    <div v-if="stars(event)">
                      <ul class="list-inline rating">
                        <li v-for="star in stars(event)"><i v-bind:class="star" aria-hidden="true"></i></li>                  
                      </ul>
                    </div>
                  <!-- STARS -->
                    <div class="categoryDetails">
                      <h2><a v-bind:href="'/events/' + event.id" style="color: #222222">
                        {{ event.title }}
                      </a></h2>
                      <p>{{ formatDateTime(event.datetime) }}</p>
                      <p><span class="placeName" v-if="event.location">{{ event.location }}</span><br v-if="event.location">
                      {{ event.address }}<br v-if="event.location_details.country">{{ event.location_details.country.toUpperCase() }}</p>
                    </div> 
                  </div>
                </div>
              </div> 
            </div>
          <!-- END OF V-FOR LOOP -->     
        </div><!-- END OF COL-SM-8 COL-XS-12 -->
        <div class="col-sm-4 col-xs-12">
          <div class="sidebarInner sidebarCategory">
            <div class="panel panel-default">
              <div class="panel-heading">Find An Upcoming Event</div>
              <div class="input-group">
                <input type="text" v-model="eventFilter" class="form-control" placeholder="What are you looking for?" aria-describedby="basic-addon2" >
                <a href="/events" class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="sidebarInner sidebarCategory">
            <div class="panel panel-default">
              <div class="panel-heading">Sort Results</div>
              <div class="panel-body">
                <ul class="list-unstyle categoryList">
                  <li><a v-on:click="setTiming('upcoming')">Upcoming Events</a></li>
                  <li><a v-on:click="setTiming('past')">Past Events</a></li> 
                  <li><a v-on:click="setTiming('all')">All Events</a></li>
                  <li><a v-on:click="toggleSortOrder()">Reverse Sort</a></li> 
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebarInner sidebarCategory">
            <div class="panel panel-default">
              <div class="panel-heading">Filter by Country</div>
              <div class="panel-body">
                <ul class="list-unstyle categoryList">
                  <% @countries.each do |country| %>
                    <li><a v-on:click="eventFilter = '<%= country[0] %>'"><%= country[0] %></a></li> 
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebarInner sidebarCategory">
            <div class="panel panel-default">
              <div class="panel-heading">Filter by Sport</div>
              <div class="panel-body">
                <ul class="list-unstyle categoryList">
                  <% @sports.each do |sport| %>
                    <li><a v-on:click="eventFilter = '<%= sport.name %>'"><%= sport.name %></a></li> 
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div><!-- Vue App closing Div -->


